body {
	font-family: 'Roboto', sans-serif;
}

#nav-bar {
	max-width: 500px;
	position: relative;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	z-index: 5;
}

#menu {
	display: flex;
	flex-direction: row;
	padding-top: 25px;	
}

.menu-item {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	color: #707070;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	letter-spacing: 0.1em; 
}

.menu-item:hover {
	color: #A9C8F6;
	text-decoration: ;
}

.menu-item.active::before { 
  position: absolute;
  top: 25px;
  left: 110px;
  content: "";
  height: 10px;
  width: 75px;
  background-color: #A9C8F6;
  opacity: 0.25;
}

.back {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	color: #707070;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.back:hover {
	color: #A9C8F6;
	text-decoration: ;
}

#container {
	position: relative;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-direction: column;
}

#project-info{
	font-family: 'Roboto', sans-serif;
	position: relative;
	display: flex;
	flex-direction: column;
	top: 100px;
	left:20%;
	margin-right: 25%;
	margin-bottom: 10%;
	padding-right: 25px;
}

#section-header{
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}

#title{
	font-weight: bold;
	font-size: 30pt;
	letter-spacing: 2px;
}

#number{
	color: #A9C8F6;
	font-weight: bold;
	font-size: 20pt;
}

#section-name{
	font-size: 18pt;
	color:#575554;
	padding-top: 1px;
	padding-left: 10px;
}

#sub-head{
	font-size: 14pt;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content{
	position: relative;
	max-width: 950px;
	line-height: 30px;
}

#content img{
	max-width: 800px;
}

#persona-container{
	display: flex;
	flex-direction: row;
}

#persona{
	display: flex;
	flex-direction: column;
	padding-right: 80px;
	max-width: 400px;
}

#persona img{
	max-width: 250px;
}

#ideas{
	display: flex;
	flex-direction: row;
}
#ideas img{
	max-width: 450px;
}
#HMW{
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	letter-spacing: 1px;
}
figure figcaption {
    text-align: center;
}