body {
	font-family: 'Roboto', sans-serif;

}

#nav-bar {
	max-width: 500px;
	position: relative;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	z-index: 5;
}

#menu {
	display: flex;
	flex-direction: row;
	padding-top: 25px;	
}

.menu-item {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	color: #707070;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	letter-spacing: 0.1em; 
}

.menu-item.active::before { 
  position: absolute;
  top: 25px;
  left: 110px;
  content: "";
  height: 10px;
  width: 75px;
  background-color: #A9C8F6;
  opacity: 0.25;
}

.back {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	color: #707070;
	text-decoration: none;
	letter-spacing: 0.1em;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
    position: relative;
}

.back:hover {
	color: #A9C8F6;
	text-decoration: ;
}

#nav-bar2 {
	top: 150px;
	position: relative;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-direction: row;
}

#tabs {
	display: flex;
	flex-direction: row;
}

.graphic-tab {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #707070;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	letter-spacing: 0.1em;
	
}

.ux-tab {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #A9C8F6;;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-decoration: line-through; 
}

.graphic-tab:hover {
	color: #A9C8F6;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.grid-container{
	display: grid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    top: 175px;
}
.grid-img {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	max-width: 500px;
}

.grid-img img {
	max-width: 500px;
	max-height: 300px;
}

.msg {
	font-family: 'Roboto', sans-serif;
	color: #707070;
	text-align: left;
	top: 0;
	max-width: 750px;
	font-size: 15px;
	margin-top: 40px;
	margin-left: 10px;
}

.grid-item-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #A9C8F6;
	position: absolute;
	transform: rotate(180deg);
	transform-origin: 0 50%; 
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.grid-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 15px;
}

.archive{
	font-family: 'Roboto', sans-serif;
	color: #707070;
}

.archive:hover {
	color: #A9C8F6;
}


.grid-img:hover {
	opacity: 0.3;
}
